<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQ5N0uF8toyZVrLoqRvrrt9YW-wtYb_As"></script>

<div class="container" >

    >
    <div class="chart-container">
    <span class="title">Step</span>
    <div>
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [colors]="barChartColors"
            [chartType]="barChartType">
            
    </canvas>
  </div>
  
</div>
